.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOME CSS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.data-table {
  max-height: 300px;
  overflow-y: auto;             
  border: 1px solid #ddd;        
  font-family: monospace;        
}

.data-table-header {
  display: grid;               
  grid-template-columns: 400px 400px 400px;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.data-table-row {
  display: grid;            
  grid-template-columns: 400px 400px 400px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(3, 400px); /* same width as table */
  gap: 12px;           
  padding: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;    /* ✅ space between form and table */
}

.filter-form input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

.filter-form button {
  padding: 6px 12px;
}

